**/archive/**
**/legacy/**
**/src/matrix/**
**/src/telegram/**
**/src/irc/**
**/jest/**
**/build/**
**/tests/**
**/@prisma-moodle/**
**.js

package*.json
tsconfig.json
package-lock.json
azure-pipelines.yml